picture div {
  width: 500px;
  height: 500px;
  object-fit: contain;
  display: block;
  background-position: center;
}

.card {
  width: fit-content;
  background-color: whitesmoke;
  padding: 1rem 1rem 5rem 1rem;
  border-radius: 6px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
}

